CompileFlags:
	Add:
		- "-Icode/soter2/include"
		- "-I/usr/include"
		- "-Wall"
---
If:
	PathMatch: [.*\.c, .*\.h]
CompileFlags:
	Add:
		- "-std=c11"
---
If:
	PathExclude: [.*\.c, .*\.h]
CompileFlags:
	Add:
		- "-std=c++2x"
